<div class="container">
  <div class="row">

<div class="col-md-8 col-sm-12 col-lg-5 px-5 mx-auto px-sm-0">

<h2>User info</h2>

<% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this obj from being saved:
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:@user, local:true do |f| %>
  <label for="inputName">Name</label>
  </br><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%>

  <h4>image</h4>
  <%= attachment_image_tag @user,:profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  </br><label for="inputImage">ProfileImage</label>
  </br><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>

  <h4>introduction</h4>
  <%= f.text_area :introduction %>

  </br><button type="button　submit" class="btn btn-success">
    　　Update user
    　　</button>
<% end %>

</div>

</div>
</div>