<h1>User info</h1>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<table class ="table table-striped">
  <tbody>
    <tr>
      <td><%= "name" %></td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td><%= "introduction" %></td>
      <td><%= user.introduction %></td>
    </tr>
  </tbody>
</table>

    <% if user.id == current_user.id %>
    <%= link_to edit_user_path(current_user.id) do %>
    <div class= " edit btn btn-outline-secondary btn-default btn-block">
    <i class="fas fa-users-cog"></i>
    </div>
    <% end %>
    <% end %>

<h1>New Books</h1>
<%= form_with model: book, local:true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Option</h4>
  <%= f.text_area :body %>
  </br><button type="button　submit" class="btn btn-success">
    　　Create Book
    　　</button>
<% end %>