<div class="container">
 <div class="row">

<div class="col-lg-4 col-md-3">
<%= render partial: 'books/new', locals: { book: @book, user: @user } %>
  </div>

<div class="col-lg-8 col-md-8 offset-md-1">
<h1>Book detail</h1>

<table class="table">
<tbody>
 <tr>
  <td>
    <%= link_to user_path(@books.user.id) do %>
     <%= attachment_image_tag @books.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
     </br><%= @books.user.name %>
    <% end %>
  </td>
  <td>
   <span><%= @books.title %></span>
  </td>
  <td>
   <span><%= link_to @books.body, "/books/#{@books.id}" %></span>
  </td>
  <% if @user.id == current_user.id %>
  <td><%= link_to "Edit", edit_book_path(@books.id), class:"btn btn-success" %></td>
  <td><%= link_to "Destroy", book_path(@books.id), class:"btn btn-danger", method: :delete, "data-confirm" => "Are you sure?" %></td>
  <% end %>
 </tr>
</tbody>
</table>
</div>
</div>
</div>