<div class="container">
 <div class="row">

<div class="col-lg-4">
<%= render partial: 'books/new', locals: { book: @book, user: @user } %>
  </div>

<div class="col-lg-8">
<h1>Book detail</h1>

<table class="table">
<tbody>
 <tr>
   <td>
    <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    </br><%= link_to @books.user.name, user_path(@books.user.id) %>
    </td>
  <td>
   <span><%= @books.title %></span>
  </td>
  <td>
   <span><%= link_to @books.body, "/books/#{@books.id}" %></span>
  </td>
  <td><%= link_to "Edit", edit_book_path(@books.id), class:"btn btn-success" %></td>
  <td><%= link_to "Destroy", book_path(@books.id), class:"btn btn-danger", method: :delete, "data-confirm" => "Are you sure?" %></td>
 </tr>
</tbody>
</table>
</div>
</div>
</div>