<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bookers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <% if signed_in? %>
          <a class="nav-link" href="#">Users</a>
          <% else %>
          <a class="nav-link" href="#">About</a>
          <% end %>
        </li>
        <li class="nav-item">
          <% if signed_in? %>
          <a class="nav-link" href="#">Books</a>
          <% else %>
          <a class="nav-link" href="/users/sign_up">Sign up</a>
          <% end %>
        </li>
        <li class="nav-item">
          <% if signed_in? %>
          <a class="nav-link"　data-methd="delete" href="/users/sign_out">Log out</a>
          <% else %>
          <a class="nav-link" href="/users/sign_in">Log in</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>


    <%= yield %>
    <footer class="text-center mt-5">CopyRight Infratop.inc</footer>
  </body>
</html>
